{% extends "base.html" %}

{% block title %} Our Recipes {% endblock title %}

{%block content %}
{% load static %}

<div class="header">
  <h1 class="fw-bold">Our Recipes</h1>
  <p class="fs-3">Delicious recipes to inspire your next meal</p>
</div>

<div class="recipes-container">
{% for recipe in recipes %}
  <div class="recipe-card">
    <img src="/media/{{ recipe.image.name }}" alt="{{ recipe.title }}" />
    <div class="content">
      <h3>{{ recipe.title }}</h3>
      <p>{{ recipe.description }}</p>
      <a href="/recipes/{{ recipe.id }}">View Recipe</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}
