{% extends "base.html" %}

{% block content %}

<div class="header">
    <h1>Our Recipes</h1>
    <p>Delicious recipes to inspire your next meal!</p>
</div>

<div class="recipes-container">
    <div class="recipe-card">
        <img src="./pic/msakhan" alt="Recipe Image">
        <div class="content">
            <h3>Palestinian Musakhan</h3>
            <p>Sumac-spiced chicken with caramelized onions on taboon bread.</p>
            <a href="#">View Recipe</a>
        </div>
    </div>
    <div class="recipe-card">
        <img src="./pic/warm-spring-quinoa-salad-11.jpg" alt="Recipe Image">
        <div class="content">
            <h3>Quinoa Salad Bowl</h3>
            <p>A refreshing mix of quinoa, roasted veggies, chickpeas, and lemon vinaigrette.</p>
            <a href="#">View Recipe</a>
        </div>
    </div>
    <div class="recipe-card">
        <img src="./pic/birthday_chocolate.jpg" alt="Recipe Image">
        <div class="content">
            <h3>Chocolate Cake</h3>
            <p>Rich and moist chocolate cake that's perfect for any celebration.</p>
            <a href="#">View Recipe</a>
        </div>
    </div>
</div>

{% endblock content %}