{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<!-- Hero Section -->
<div
  class="hero-section text-center text-white py-5"
  style="background-color: #2a526b"
>
  <div class="hero-container">
    <div class="icon-container mb-3">
      {% load static %}
      <img
        src="{% static '/images/numNumlogo.png' %}"
        alt="Logo"
        class="rounded-circle"
        style="width: 300px; height: 300px"
      />
    </div>
    <h1 class="display-6">Where Every Bite Tells a Story</h1>
    <p class="lead fs-5">
      Nom Nom is a recipe-sharing platform for food enthusiasts to discover, create, and share dishes. From quick meals to global flavors, find inspiration for your next culinary adventure and connect with a vibrant community of food lovers
    </p>
    <a class="btn btn-lg mt-3 btn-warning" href="/about_us">Read More</a>
  </div>
</div>
{% endblock content %}
