{% extends "base.html" %} {% block title %} {{ user.first_name }} {{
user.last_name }} Profile {% endblock title %} {% block content %}
<div class="header-profile">
  <h1>My Profile</h1>
</div>

<div class="profile-container">
  <!-- Profile Header -->
  <div class="profile-header">
    <img src="/media/{{ user.profile_pic.name }}" alt="Profile Picture" />
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <p>{{ user.email }}</p>
    <p>{{ user.address }}</p>
  </div>
  <a href="recipes/my_recipes/">Back to my recipes</a>
</div>
{% endblock content %}
