{% extends "base.html" %}

{% block content %}

<div class="header">
    <h1>My Recipes</h1>
    <p>Your delicious creations are here!</p>
</div>


<div class="container">
    <div class="recipe-card">
        <img src="./pic/choclate_Cake.jpg" alt="Recipe Image" class="recipe-image">
        <div class="recipe-content">
            <h3>Choclate Cake</h3>
            <p> Rich and moist chocolate cake that's perfect for any celebration.</p>
            <div class="buttons">
                <button>Show</button>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
    </div>

    <div class="recipe-card">
        <img src="./pic/msakhan" alt="Recipe Image" class="recipe-image">
        <div class="recipe-content">
            <h3>Musakhan</h3>
            <p> Sumac-spiced chicken with caramelized onions on taboon bread.</p>
            <div class="buttons">
                <button>Show</button>
                <button>Edit</button>
                <button>Delete</button>

            </div>
        </div>
    </div>
</div>


{% endblock content %}