{% extends "base.html" %}

{% block content %}

    <!-- About Section -->
    <section class="about-section text-center">
        <div class="container">
            <h1>About Us</h1>
            <p class="mt-4">
                Welcome to <strong>Nom Nom</strong>, a platform where food enthusiasts connect, share, and inspire each other. 
                Our mission is to create a vibrant community of passionate home cooks and culinary adventurers. Whether you're 
                here to share your favorite recipes or discover new dishes, Nom Nom is your ultimate food destination.
            </p>
        </div>
    </section>
    {% endblock content %}