
{% extends "base.html" %} 

{% block content %}


<!--  hoooon 
 -->

 
    <!-- Hero Section -->
    <div class="hero-section text-center text-white py-5" style="background-color: #2a526b;">
        <div class="container">
            <div class="icon-container mb-3">
                <img src="./pic/nomnomlogopng.jpeg" alt="Logo" class="rounded-circle" style="width: 100px; height: 100px;">
            </div>
            <h1 class="display-5">Where Every Bite Tells a Story</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
            <button class="btn btn-lg mt-3" style="background-color: #f4b75d; color: #2a526b; font-weight: bold;">Read More</button>
        </div>
    </div>

        
    </div>

{% endblock content %}